.img_animacion {
  width: 95%;
  margin: auto;
  overflow: hidden; }

.img_animacion_list {
  padding: 0;
  display: flex;
  width: 300%;
  animation: movimiento 20s infinite alternate;
  animation-timing-function: ease-in; }

.img_item {
  width: 100%;
  height: 600px;
  border-radius: 20px; }

.img_animacion_list_li {
  list-style: none;
  width: 100%; }

.col_parrafo {
  font-family: "ban";
  margin-top: 40px;
  color: black;
  font-size: 20px; }

.col_img {
  border-radius: 20px;
  width: 750px; }

.img_b1 {
  width: 500px;
  border-radius: 30px; }

.img_b2 {
  width: 500px;
  border-radius: 30px; }

.img_b3 {
  width: 500px;
  border-radius: 30px; }

.img_convert {
  transition: 0,5s;
  object-fit: cover; }

.img_convert:hover {
  transform: scale(1.2); }

.col_parrafo_b1 {
  color: black;
  font-family: "ban";
  margin-top: 60px; }

.col_parrafo_b2 {
  color: black;
  font-family: "ban";
  margin-top: 60px; }

.col_parrafo_b3 {
  color: black;
  font-family: "ban";
  margin-top: 100px; }

.titulo_b1 {
  color: white;
  font-family: "rigth";
  text-align: center; }

.titulo_b2 {
  color: white;
  font-family: "rigth";
  text-align: center; }

.col_parrafo_b4 {
  color: black;
  font-family: "ban";
  margin-top: 50px;
  font-size: 25px; }

.col iframe {
  border-radius: 40px;
  margin-top: 20px; }

.col_parrafo_b5 {
  color: black;
  font-family: "ban";
  font-size: 25px;
  width: 900px;
  text-align: center;
  margin-left: 120px;
  margin-top: 10px; }

.col_parrafo_b6 {
  color: black;
  font-family: "ban";
  font-size: 20px;
  text-align: center; }

.img_b4 {
  width: 600px;
  border-radius: 30px;
  margin-left: -600px;
  margin-top: 100px; }

.inf_2 {
  width: 500px;
  border-radius: 40px; }

.openings_black {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; }

.openings_black iframe {
  margin-left: 40px;
  margin-top: 50px;
  border-radius: 30px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "rigth";
  src: url(../../recursos/tipografias/Righteous-Regular.ttf); }

@font-face {
  font-family: "ban";
  src: url(../../recursos/tipografias/Bangers-Regular.ttf); }

main {
  background-image: radial-gradient(circle 590px at 8.2% 13.8%, #12233c 0%, #bbb 90%); }

@keyframes movimiento {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; } }

@media (min-width: 993px) and (max-width: 1193px) {
  .col_parrafo {
    margin-top: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .col_img {
    margin-top: 100px; } }

@media (min-width: 567px) and (max-width: 767px) {
  .col_parrafo {
    font-size: 15px; }
  .col_img {
    margin-top: 70px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .img_b1 {
    position: relative;
    margin-top: 50px; }
  .col_parrafo_b2 {
    font-weight: 20px; }
  .img_b2 {
    margin-top: 100px;
    position: relative; }
  .img_b3 {
    position: relative;
    margin-top: 100px; } }

@media (min-width: 576px) and (max-width: 767px) {
  .col_parrafo_b1 {
    font-size: 13px; }
  .img_b1 {
    position: relative;
    margin-top: 70px; }
  .img_b2 {
    position: relative;
    margin-top: 120px; }
  .col_parrafo_b2 {
    font-size: 13px; }
  .col_parrafo_b3 {
    font-size: 13px; }
  .img_b3 {
    position: relative;
    margin-top: 120px; } }

@media (min-width: 1024px) and (max-width: 1196px) {
  .col_parrafo_b4 {
    font-size: 20px; }
  .col_parrafo_b5 {
    margin-left: -15px; } }

@media (min-width: 768px) and (max-width: 990px) {
  .col_parrafo_b4 {
    position: relative;
    font-size: 25px;
    top: 5px; }
  .img_b4 {
    margin-left: 40px;
    margin-bottom: 40px; }
  .col_parrafo_b5 {
    margin-left: 150px;
    width: 450px; } }

@media (min-width: 576px) and (max-width: 767px) {
  .nav-link {
    margin-left: -40px; }
  .titulo_b2 {
    margin-left: -40px; }
  .ifram_col {
    width: 500px; }
  .img_b4 {
    width: 500px;
    margin-bottom: 15px;
    margin-left: 10px; }
  .col_parrafo_b5 {
    width: 540px;
    margin-bottom: 50px; } }

.nav-link {
  color: white;
  font-family: "rigth";
  font-size: 20px;
  text-align: center;
  position: relative; }

.navbar-brand {
  position: relative;
  font-family: "rigth";
  font-size: 30px; }

.navbar a:after {
  content: "";
  position: absolute;
  background-color: red;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s; }

.navbar a:hover:after {
  width: 100%; }

.redes_sociales {
  background-color: #BBBBBB;
  font-size: 1.3rem;
  padding: 40px; }

.redes_sociales ul {
  text-align: center; }

.redes_sociales li {
  display: inline-block;
  margin: 0px 10px; }

.bi {
  font-size: 2rem; }

.bi:hover {
  color: white; }

.redes_sociales a {
  text-decoration: none;
  color: white;
  font-family: "rigth"; }
