.redes_sociales {
    background-color: #BBBBBB;
    font-size: 1.3rem;
    padding: 40px;
    
}
.redes_sociales ul {
    text-align: center;
}
.redes_sociales li {
    display: inline-block;
    margin: 0px 10px;
}
.bi {
    font-size: 2rem;
}
.bi:hover {
    color: white;
}
.redes_sociales a {
    text-decoration: none;
    color: white;
    font-family: "rigth";
}